<mat-toolbar>

    <div class="toolbar no-select" routerLink="">
      <div mat-card-avatar class="example-header-image"></div>
      <span>Zheka's</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button color="primary" routerLink="">Главная</button>
      <button class="toolbar button" mat-flat-button color="primary" routerLink="products">Продукты</button>
      <button class="toolbar button" mat-flat-button color="primary" routerLink="basket">Корзина</button>
    </div>

</mat-toolbar>
